.editor {
    position:absolute;
    min-width:200px;
    min-height: 200px;
    border: 1px solid blue;
}

.highlighted-row {
	position: absolute;
	background: #A8DAA8; 
	z-index: 20;
}

.ace_gutter-cell.ace_breakpoint {
  	background: url('breakpoint.png') no-repeat;
  	background-size: 15px;
} 