.editor {
    position:absolute;
    min-width:200px;
    max-width: 300px;
    min-height: 200px;
    border: 1px solid blue;
}

.highlighted-row {
	position: absolute;
	background: #A8DAA8;
	z-index: 20;
}