<html>
	<head>
		<link rel="stylesheet" type="text/css" href="app.css">
	</head>
	<body data-ng-app="app">
		
		<h1>Angular Demo</h1>

		<div data-ng-controller="MainCtrl">
			text: <input type="text" data-ng-model="ace.text" />

			<ul>
				<li><input type="button" ng-click="addAnnotation(2)" value="add annotation"/></li>
				<li>
					<input type="text" ng-model="newMarkedLine" />
					<input type="button" ng-click="markLine()" value="mark line"/>
					<input type="button" ng-click="ace.markedLines = []" value="clear marked lines"/>
				</li>
			</ul>
			
			<p>text: {{ace.text}}</p>
			<p>readOnly: {{ace.isReadOnly}}</p>


			<input type="radio" ng-model="ace.isReadOnly" ng-value="true">True
			<input type="radio" ng-model="ace.isReadOnly" ng-value="false">False

			<div ace="" ace-config='ace' mode='markdown' theme='monokai' class="editor"></div>

		</div>

		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
		<script src="https://rawgit.com/ajaxorg/ace-builds/master/src/ace.js"></script>
		<script src="https://rawgit.com/ajaxorg/ace-builds/master/src/mode-markdown.js"></script>
		<script src="app.js"></script>
	</body>
</html>